img.logo {
  margin: 20px;
}
.snapshot {
  height: 240px;
  width: 100%;
  border: 0px solid white;
  background-repeat: no-repeat;
  background-position: center; 
  background-size: contain;
  margin: 20px 0;
}

.tabs .page-content {
  padding: 0;
}

.index-page {
  --f7-page-bg-color: orange;
}
